<!DOCTYPE html>

<html lang="en">

<head class="main-layout">
    <title>Machines Dont Make Art</title>

    <!--https://nikitahl.com/html-meta-tags-for-social-media-->
    <meta property="og:title" content="Machines Dont Make Art" />
    <meta property="og:description" content="A site for macguffin's various projects" />
    <meta property="og:image" content="IMAGE - ABSOLUTE URL" />
    <meta name="author" content="macguffin" />

    <meta name="twitter:title" content="Machines Dont Make Art">
    <meta name="twitter:description" content="A site for macguffin's various projects">
    <meta name="twitter:image" content="./assets/img/logo/mdmaLogo.png">
    <meta name="twitter:card" content="summary_large_image">

    <!--scripts-->
    <script type="module" src="../../components/layouts/layout-injector.js"></script>
</head>

<body>
    <!--put all page content within this field-->
    <div id="content">

    </div>
</body>