:root {
    --mdma-grey: "#A8A8A4";
    --mdma-grey-light: "#D4D7D4";
    --mdma-grey-dark: "#868886";
    --mdma-grey-light: "#868886";
    --mdma-pink: "#E46380";
    --mdma-pink-light: "#F48DA9";
    --mdma-blue: "#4C8DC1";
    --mdma-blue-light: "#8EC1E8";
}