<head>
    <link href="global-layout.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <div id="global-container" class="global-container">
        <a href="home.html" class="logo-container">
            <img class="logo-background" src="{nesting}/assets/img/logo/bgShape.svg" />
            <img class="logo-symbol" src="{nesting}/assets/img/logo/symbol.svg" />
            <img class="logo-text" src="{nesting}/assets/img/logo/text.svg" />
        </a>
        <div id="global-content" class="global-content"></div>
    </div>
</body>